<div class="jumbotron">
    <h1>NEVERLAND HOTEL</h1>
    <p class="lead">You are just 4 click away to book your dream hotel. Click on "New Booking" to get started..!!! :-) </p>
    <div class="row">
            <div class="col-md-6">
                <p> <a href=@Url.Action("Index","reservations") class="btn btn-primary col-lg-4">Booking History</a>
            </div>
            <div class="col-md-6">
                <p> <a href="@Url.Action("Create","reservations")" class="btn btn-primary col-lg-4">New Booking</a></p>
            </div>
    </div>
</div>
